*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:mistyrose;
    width: 50vh;
}
.title{
    background-color:teal;
    height: 6vh;
    width: 13vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 30px;
    color: whitesmoke;
    border-radius: 5px;
    
}
.title:hover{
    cursor: pointer;
    background-color: tomato;
    color: black;
    font-size: 35px;
    font-weight: bold;
}
.nav-item-1{
    font-size: 20px;
    margin: 20px;
    margin-left: 40px;
    margin-top: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.dashboard{
    height: 30px;
    margin-right: 10px;
}
.nav-item-2{
    font-size: 20px;
    margin: 20px;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.reading{
    height: 30px;
    margin-right: 10px;
 }
.nav-item-3{
    font-size: 20px;
    margin: 20px;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.teaching{
    height: 30px;
    margin-right: 10px;
}
.nav-item-4{
    font-size: 20px;
    margin: 20px;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.classforum{
    height: 30px;
    margin-right: 10px;
}
.nav-item-5{
    font-size: 20px;
    margin: 20px;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.progress{
    height: 30px;
    margin-right: 10px;
}
.nav-item-6{
    font-size: 20px;
    margin: 20px;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.dairy{
    height: 30px;
    margin-right: 10px;
}
a:link{
    text-decoration: none;
}
.setting-tab{
    background-color:whitesmoke ;
    height: 100vh;
    width: 83vw;
    position: absolute;
    top: 0%;
    right: 0%;
    padding-right: 60px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.profile-section{
    display: flex;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    top: 5%;
    right: 3%;
}
.pp{
   height: 8vh;
   border-radius: 50%;
   margin-right: 10px;
}
.flag{
    height: 30px;
    margin-right: 10px;
}
.bell-icon{
    height: 40px;
    margin-right: 10px;
}
.person-name{
    font-size: 1.5rem;
    margin-right: 10px;
    font-family: monospace;
    color:dodgerblue;
}
.acheivements{
    background-color:#479cf7;
    height: 25vh;
    width: 45vw;
    position: relative;
    top: 8%;
    left: 5%;
    border-radius: 20px;
}
.trophy{
    height: 20vh;
    position: relative;
    top: 10%;
    left: 10%;
}
.acheivementsheading{
    color:yellow;
    position: relative;
    top: -80%;
    left: 35%;
    font-size: 1.5rem;
}
.badge1{
    height: 15vh;
    position: relative;
    top: -70%;
    left: 35%;
}
.badge2{
    height: 15vh;
    position: relative;
    top: -70%;
    left: 40%;
}
.badge3{
    height: 15vh;
    position: relative;
    top: -70%;
    left: 45%;
}
.my-class{
    background-color: rgb(235, 146, 190);
    height: 22vh;
    width: 15vw;
    position: relative;
    top: 18%;
    left: 15%;
    border-radius: 30px;
}
.myclassimage{
   height: 10vh;
   position: relative;
   top: 15%;
   left: 30%;
}
.myclassheading{
    font-size: 1.5rem;
    font-family:monospace;
    position: relative;
    top: 20%;
    left: 25%;
}
.class-forum{
    background-color: lightgreen;
    height: 22vh;
    width: 15vw;
    position: relative;
    top: 0%;
    left: 35%;
    border-radius: 30px;
}
.classforumimage{
    height: 10vh;
   position: relative;
   top: 15%;
   left: 30%;
}
.class-forum-heading{
    font-size: 1.5rem;
    font-family:monospace;
    position: relative;
    top: 20%;
    left: 20%;
}
.progresss{
    background-color:tan;
    height: 22vh;
    width: 15vw;
    position: relative;
    top: -2%;
    left: 15%;
    border-radius: 30px;
}
.progressimage{
    height: 10vh;
   position: relative;
   top: 15%;
   left: 30%;
}
.progress-heading{
    font-size: 1.5rem;
    font-family:monospace;
    position: relative;
    top: 20%;
    left: 25%;
}
.my-dairy{
    background-color:wheat;
    height: 22vh;
    width: 15vw;
    position: relative;
    top: -20%;
    left: 35%;
    border-radius: 30px;
}
.mydairyimage{
    height: 10vh;
   position: relative;
   top: 15%;
   left: 30%;
}
.mydairy-heading{
    font-size: 1.5rem;
    font-family:monospace;
    position: relative;
    top: 20%;
    left: 25%;
}
.yourpoints{
    font-size: 1.5rem;
    font-family: cursive;
    position: absolute;
    top: 18%;
    right: 12%;
} 
.one{
    background-color: black;
    color: white;
    font-size: 2rem;
    height: 40px;
    width: 20px;
    position: absolute;
    top: 24%;
    right: 19%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two{
    background-color: black;
    color: white;
    font-size: 2rem;
    height: 40px;
    width: 20px;
    position: absolute;
    top: 24%;
    right: 16%; 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three{
    background-color: black;
    color: white;
    font-size: 2rem;
    height: 40px;
    width: 20px;
    position: absolute;
    top: 24%;
    right: 13%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.batmanimage{
    position: absolute;
    top: 35%;
    right: 8%;

} 
.avatarname{
    position: absolute;
    top: 78%;
    right: 8.5%;
    color: tomato;
} 
.upgarde{
    position: absolute;
    top: 90%;
    right: 12%;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    height: 5vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.chatbot{
    width: 80px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

